 <div class="adjustBox">
  <div class="descBox">
    <header class="fulfilled" style="margin-bottom: 5%;">About Us</header>
    <div class="aboutImg">
      <img src="/assets/aboutPic.jpg">
    </div>
    <div class="descDiv">
    Helpful Hand was founded by Serena Xu and Rodrigo Manubens in late May 2014 at the Earthquake Resilience event, hosted by Swissnex SF. From his experiences working at different non-profit organizations in Chile, Rodrigo often saw the miscommunication between organizations and the people who want to donate to help. The vision for the project was to create a system to bridge that gap. The two continued to develop Helpful Hand in the months that followed. Soon to join the team was Manny Karyampudi and Erin Snyder, both who contributed greatly to the development process.
    </div>
    <div class="placeholderBox">
    </div>
  </div>
  <div class="placeholderBox">
  </div>

</div>
