 <div class="adjustBox">
  <div class="descBox">
    <header class="fulfilled" style="margin-bottom: 5%;">Contact US</header>
    <ul class="longSign">
        <li>
          <p style="margin:0; text-align: center;">E-mail us at
            <a class="colorA" href="mailto:info@rippleinapond.org?Subject=Hello%20" target="_top">info@rippleinapond.org</a>or use the form below. We hope to hear from you.
          </p>
        <li>
          <label class="login_label">Name:</label> <input type="text" placeholder="First Last"/>
          <p style="margin:0; text-align: center;" id="nameInfo"></p>
        </li>
        <li>
          <label class="login_label" >E-mail:</label> <input type="email"/>
          <p style="margin:0; text-align: center;" id="nameInfo"></p>
        </li>
        <li>
          <label class="login_label" >Message:</label>
            <textarea class="desRequest" rows="10" cols="50"></textarea>
        </li>
        <li style="margin:0 auto; text-align:center">
        <input class="tfbutton_login" type="submit" value="Send">
      </li>
      </ul>
  </div>
  <div class="placeholderBox">
  </div>

</div>
