 <div class="adjustBox">
  <div class="box">
    <header class="fulfilled" style="margin-bottom: 5%;">How It Works</header>
    <p class="desc">
      Users should register under organizations or contributors depending on who you are. Organizations can use their profile to create requests for in kind goods. Contributors can search the needs to see where they can donate something specific and put it to good use. They can also browse if they are just looking to contribute generally.
    </p>
  </div>
  <div class="placeholderBox">
  </div>

</div>
