 <div class="adjustBox">
  <div class="descBox">
    <header class="fulfilled" style="margin-bottom: 5%;">How It Works</header>
    <span class="faqWords_s">
      <img id="img_prev" alt="Add Logo Image" src="/assets/group.png">
      <p class="faqWords">
      Users should register under organizations or contributors depending on who you are.
      </p>
    </span>
    <span class="faqWords_s">
      <img id="img_prev" alt="Add Logo Image" src="/assets/donations.png">
      <p class="faqWords">
      Organizations can use their profile to create requests for in kind goods.
      </p>
    </span>
    <span class="faqWords_s">
      <img id="img_prev" alt="Add Logo Image" src="/assets/search.png">
      <p class="faqWords">
      Contributors can search the needs to see where they can donate something specific and put it to good use.
      </p>
    </span>
    <span class="faqWords_s">
      <img id="img_prev" alt="Add Logo Image" src="/assets/browse.png">
      <p class="faqWords">
      Contributors can also browse if they are just looking to contribute generally.
      </p>
    </span>
    <div class="placeholderBox" style="height: 1px;">
    </div>
  </div>
  <div class="placeholderBox">
  </div>

</div>
