 <div class="adjustBox">
  <div class="box">
    <header class="fulfilled" style="margin-bottom: 5%;">Social</header>
    <div class="socialDiv">
    <span class="faqWords_s">
      <p class="faqWords">
      Like us on Facebook
      </p>
      <img id="img_prev" alt="Add Logo Image" src="/assets/fb_logo.png">
    </span>
    <span class="faqWords_s">
      <p class="faqWords">
      Follow us on Twitter
      </p>
      <img id="img_prev" alt="Add Logo Image" src="/assets/Twitter_logo.png">
    </span>
    </div>
    <div class="placeholderBox" style="height: 1px;">
    </div>
  </div>
  <div class="placeholderBox">
  </div>

</div>
