 <div class="adjustBox">
  <div class="box">
    <header class="fulfilled" style="margin-bottom: 5%;">Social</header>
    <div class="socialDiv">
    <span class="faqWords_s">
      <p class="faqWords">
      Like us on Facebook
      </p>
        <a style="border:0;" href="https://www.facebook.com/pages/Helpful-Hand/1443909015869926?ref_type=bookmark" target="_blank">
          <img id="img_prev" alt="Add Logo Image" src="/assets/fb_logo.png">
        </a>
    </span>
    <span class="faqWords_s">
      <p class="faqWords">
      Follow us on Twitter
      </p>
        <a style="border:0;" href="#" target="_blank">
        <img id="img_prev" alt="Add Logo Image" src="/assets/Twitter_logo.png">
        </a>
    </span>
    </div>
    <div class="placeholderBox" style="height: 1px;">
    </div>
  </div>
  <div class="placeholderBox">
  </div>

</div>
