
<div class="adjustBox">
  <div class="landBox">
    <div class="logoBig">
      <img src="/assets/helping_hands_logo.png">
    </div>

      <p> Would you like to contribute?</p>
      <%= button_to("Register as a Contributor", new_donor_path, :method => :get, :class => "tfbutton") %>
      <p> Are you an Organization?</p>
      <%= button_to("Register as an Organization", new_organization_path, :method => :get, :class => "tfbutton") %>
  </div>
</div>