  <div class="loginBox">
    <div style="float: none; margin-bottom: 2rem">
      <img class="logo" style="width: 70%;" src="/assets/helping_hands_logo.png">

    <% if flash[:notice] %>
          <div class="error"><%= flash[:notice] %></div>
        <% end %>
    </div>

      <%= button_to("Donor Login", new_donor_sessions_path, :method => :get, :class => "tfbuttonWhich") %><br>

      <%= button_to("Organization Login", new_organization_sessions_path, :method => :get, :class => "tfbuttonWhich") %><br>
  </div>