<div class="promiseBox">
    <img class="logo" src="/assets/helping_hands_logo.png">
    <p> Would you like to contribute?</p>
<!-- Do these two buttons need to be forms? Can they just be links? -->
    <%= button_to("Register as a Donor", new_donor_path, :method => :get, :class => "tfbutton") %>
    <p> Are you an Organization?</p>
    <%= button_to("Register as an Organization", new_organization_path, :method => :get, :class => "tfbutton") %>
</div>