<div>
  WELCOME TO ROOM {{name}}
</div>
<div id='messagesDiv'></div><br><br>


<div class="ajax-check"></div>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message...'>