/******************************************************************
Stylesheet: 481px and Up Stylesheet
******************************************************************/



/*********************
NAVIGATION STYLES
*********************/

	.main-nav{
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

	#landing_slogan {
		p {
			text-transform: capitalize;
			font-size: 1.5em;
			font-family: 'Arvo', sans-serif
		}
	}
