/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 1140px;
}

/*********************
HEADER STYLES
*********************/

.header {}

#logo {}

/*********************
NAVIGATION STYLES
*********************/

.main-nav {

	ul {}

	li {
		a {
			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

}

 /* end .nav */


/*********************
Chatroom STYLES
*********************/

 #messagesDiv {
	div {
		margin: 1% 0;
		padding: 2%;
		background-color: #eee;
		color: black;
		font-size: 1.2em;
	}
}
#messageInput {
  padding: 2.5%;

}
.logo {
	margin: 1% auto;
	width: 11%;
}

#landing_slogan {
	p {
		text-transform: capitalize;
		font-size: 2em;
		font-family: 'Arvo', sans-serif
	}
}