/******************************************************************
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/
a {}

blockquote {}

body {
	background: url('http://subtlepatterns.com/patterns/wood_1.png');
	color: #fff;
	overflow-y:overlay;
}


#container {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		outline: 0;
	}

	/* on click */
	&:active {}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif;
	text-rendering: optimizelegibility;
	font-weight: 600;
	text-transform: uppercase;
	color: #525132;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
	color: $link-color;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {

}

	#logo {

		a {

			i {

			}
		}
	}

/*********************
NAVIGATION STYLES
*********************/

.main-nav{

	ul {}

	li {

		a {

			&:hover, &:focus {}
		}

		&:first-child{}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

}
.nav {
	> li {
		> a{
			&:focus {
				outline: 0;
			}
		}
	}
}
/*********************
Chatroom STYLES
*********************/

.chatroom{
	width: 80%;
	margin: 0 auto;
}
#messagesDiv {
	overflow: overlay;
	max-height: 30em;
	div {
		margin: 1% auto;
		padding: 2%;
		background-color: #eee;
		color: black;
		font-family: 'Lato', sans-serif;
		// border-bottom: 0.25em solid rgba(162, 228, 231, 0.79);
		&:nth-child(even) {
			// border-bottom: 0.25em solid rgb(194, 206, 147);
		}

	}
}
#messageInput {
	// margin: 0 auto;
	text-align: center;
  background: #fff;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Abel', sans-serif;
  padding: 5%;
  margin-top: 1%;
}

.bear {
	height: 46%;
	width: 30%;
	margin: 3% auto;
	display: block;
}
.logo-landing {
	height: 30%;
	width: 55%;
	margin: 3% auto;
	display: block;
}
#motto {
   font-size: 3em;
   text-align: center;
   font-family: "Times New Roman";
}
.room-list {
	width: 80%;
	margin: 2% auto;
}
.room-list > .room-wrap {
	overflow: scroll;
	max-height: 40em;
}
.room-list-landing {
	width: 80%;
	margin: 2% auto;
}
.room {
	text-align: left;
	padding: 4%;
	margin: 2% auto;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: $polar-blue;
	color: darken($polar-blue, 60%);
	border-bottom: 0.5em solid white;
	opacity: 0.8;
	position: relative;
	&:nth-child(even) {
		background-color: $polar-white;
		color: darken($polar-white, 50%)
	}
	&:hover {
		opacity: 1;
		i {
			color: rgb(127, 98, 241);
		}
	}
	i {
		color: white;
		position: absolute;
		right: 1%;
		top: 1%;

	}
}

.inactive {
	background-color: #ACACAC;
	color: rgba(160, 160, 160, 0.65);
}

.create-room {
	width: 70%;
	margin: auto;
	display:none;

	button {
		width: 80%;
		margin: 0 auto
	}
}

.create-room-landing {
		width: 100%;
	button {
		width: 80%;
		margin: 0 auto;

	}
}
#landing_slogan {
	max-width: 40%;
	text-align: center;
	font-size:1.4em;
	margin: 0 auto;
	padding: 1em 0;

	p {
		text-transform: capitalize;
		font-size: 1em;
		font-family: 'Arvo', sans-serif
	}
}
