#messagesDiv {
  i {
    margin-right: 5%;
  }
}
.pink {
  border-bottom: 0.25em solid $polar-chat-pink;
  i {
    color: $polar-chat-pink;
  }
}

.green {
  border-bottom: 0.25em solid $polar-chat-green;
  i {
    color: $polar-chat-green;
  }
}

.blue {
  border-bottom: 0.25em solid $polar-chat-blue;
  i {
    color: $polar-chat-blue;
  }
}

.purple {
  border-bottom: 0.25em solid $polar-chat-purple;
  i {
    color: $polar-chat-purple;
  }
}

.orange {
  border-bottom: 0.25em solid $polar-chat-orange;
  i {
    color: $polar-chat-orange;
  }
}
.moss {
  border-bottom: 0.25em solid $polar-chat-moss;
  i {
    color: $polar-chat-moss;
  }
}
.brown {
  border-bottom: 0.25em solid $polar-chat-brown;
  i {
    color: $polar-chat-brown;
  }
}
.dark-purple {
  border-bottom: 0.25em solid $polar-chat-dark-purple;
  i {
    color: $polar-chat-dark-purple;
  }
}
.light-blue {
  border-bottom: 0.25em solid $polar-chat-light-blue;
  i {
    color: $polar-chat-light-blue;
  }
}
.grey {
  border-bottom: 0.25em solid $polar-chat-grey;
  i {
    color: $polar-chat-grey;
  }
}