
      <div class="box">

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Donors</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav id="menu">
            <% @donors.each do |donor| %>
               <% @contributions.each do |contribution| %>

            <ul class="parent-menu">
            <li>
                <div class="acc_reqMainContent">
                  <strong>
                    <%= link_to "#{donor.name} donated #{contribution.resource_amount} #{@request.resource} on #{contribution.contribution_date}", 
                              donor_path(donor.id), :method => :get if contribution.donor_id == donor.id %>
                  </strong>
                </div>
                <hr></hr>
            </li>
            </ul>
            <% end %>
          <% end %>
          </nav>

        </div>

      </div>
