
<div class="topLinks">
      <a href="profile.html">HOME</a>
      <a href="profile.html">ACCOUNT</a>
      <a href="new1.html">MESSAGES</a>
  </div>

  <div id="promiseBox">
      <img src="http://i1.minus.com/jbbUCKWnG1pFdf.png">
      <%= link_to "Add new Request", controller: "requests", action: "new" %>
      <p> </p>
    <%= link_to "Current Requests", "#" %>
  </div>
<footer>
  <nav class="bottomLinks">
      <a href="index.html">About Us</a>
      <a href="profile.html">Community</a>
      <a href="new1.html">Education</a>
      <a >(c) HelpingHands, 2014</a>
  </nav>
</footer>