  <div id="promiseBox">
      <img src="/assets/helping_hands_logo.png">
      <%= link_to "Add new Request", controller: "requests", action: "new" %>
      <p> </p>
    <%= link_to "Current Requests", controller: "requests", action: "index" %>
  </div>