<div class="topLinks">
      <%= link_to "HOME", controller: "requests", action: "index" %>
      <a href="#">ACCOUNT</a>
      <a href="#">MESSAGES</a>
  </div>

  <div id="needsBox">
    <p>list</p>

    <% @requests.each do |request| %>

       <%= link_to "#{request.organization}: #{request.resource_count} #{request.resource} ", request_path(request) %>

    <% end %>

  </div>
<footer>
  <nav class="bottomLinks">
      <a href="#">About Us</a>
      <a href="#">Community</a>
      <a href="#">Education</a>
      <a >(c) HelpingHands, 2014</a>
  </nav>
</footer>