  <div class="topLinks">
      <a href="index.html">HOME</a>
      <a href="profile.html">ACCOUNT</a>
      <a href="new1.html">MESSAGES</a>
  </div>

  <div id="needsBox">

  </div>
<footer>
  <nav class="bottomLinks">
      <a href="index.html">About Us</a>
      <a href="profile.html">Community</a>
      <a href="new1.html">Education</a>
      <a >(c) HelpingHands, 2014</a>
  </nav>
</footer>