  <div id="needsBox">

      <p><%= @request.organization %></p>
      <p>We need <%= @request.resource_count %> of <%= @request.resource %> to send to <%= @request.address %></p>
      <p>Please let us know if you can donate </p>
      <button type="button"> Donate </button>
  </div>
