  <div id="promiseBox">
    <div style="float: none; margin-bottom: 2rem">
      <img class="logo" style="width: 70%;" src="/assets/helping_hands_logo.png">
    </div>

      <p> Would you like to contribute?</p>
      <%= button_to("Register as a Donor", new_donor_path, :method => :get, :class => "tfbutton") %>
      <p> Are you an organization?</p>
      <button onclick="window.location.href='newOrg.html'" href="recieved.html" class="tfbutton">Register as an Organization</button>
  </div>