<div class="container">
  <%= link_to image_tag('white_bear.png', :class => "logo"), root_path %>
  <section class="room-list">
    <script id="room-template" type="text/x-handlebars-template">
      {{#rooms}}
        <div>{{name}}</div>
      {{/rooms}}
    </script>
  </section>
  <div class="create-room">
    <button id="create_room" class="button" type="submit">Create a Room</button>
  </div>
</div>
