<div class="container">
  <%= link_to image_tag('white_bear.png', :class => "bear"), root_path %>
  <div class="other_stuff">
  </div>
  <section class="room-list twelvecol">
    <script id="room-template" type="text/x-handlebars-template">
      {{#rooms}}
        <div>{{name}}</div>
      {{/rooms}}
    </script>
  </section>
</div>
