<div class="container">
  <%= link_to image_tag('white_bear.png', :class => "logo"), root_path %>
  <section class="room-list">
    <script id="room-template" type="text/x-handlebars-template">
      {{#rooms}}
        <div>{{name}}</div>
      {{/rooms}}
    </script>

  </section>
  <span id="create_room_button"><button id="create_room" type="submit">Create a Room</button></span
</div>
