<div class="container">
  <%= image_tag('white_bear.png', :class => "logo") %>
  <section class="room-list">
    <script id="room-template" type="text/x-handlebars-template">
      {{#rooms}}
        <div>{{name}}</div>
      {{/rooms}}
    </script>
  </section>
</div>
