<div class="container">
  <h1>HI THERE</h1>
  <section class="room-list">
    <script id="room-template" type="text/x-handlebars-template">
      {{#rooms}}
        <div>{{name}}</div>
      {{/rooms}}
    </script>
  </section>
  <br>
  <button id="create_room" type="submit">Create a Room</button>
</div>
