<div class="container">
  <%= link_to image_tag('white_bear.png', :class => "bear"), root_path %>
  <div class="list-elements twelvecol">
    <div class="create-room">
      <button id="create_room" class="button create-button" type="submit">Create a Room</button>
    </div>
    <section class="room-list twelvecol">
    </section>
  </div>
</div>
