
<div>
  WELCOME TO ROOM <%=@room.id %><br><br>
</div>
<div id='messagesDiv'></div><br><br>
<input type='text' id='nameInput' placeholder='Name'>
<input type='text' id='messageInput' placeholder='Message...'>
