<div class="room-wrap">
  {{#rooms}}
    <div data-id='{{name}}' class="individual_room room elevencol"><i class="fa fa-comments-o fa-2x"></i>{{name}}<br>
      <span>{{distance}}( {{userCount}} / 15 )</span></div>
  {{/rooms}}
</div>
<div class="create-room">
  <button id="create_room" class="button" type="submit">Create a Room</button>
</div>
