/* ------ Landing Page Styling -------------- */

html {
  background: url(/assets/helping_hands_bckground_img.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*.topLinks {
  position: fixed;
  box-sizing:border-box;
  width: 100%;
  padding:1em;
  top: 0;
  background-color: rgba(0,0,0);
  height: 70px;
  display: block;
  font-size: 2rem;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}*/

.bottomLinks {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #000;
  padding-left: 1%;
}


#promiseBox {
  border-radius:1em;
  width: 50%;
  height: 50%;
  background: rgba(0, 0, 0, 0.70);
  margin: 10% auto 0 auto;
  padding: 2.5%;
  box-sizing: border-box;
  text-align:center;
  line-height:1.5;
}
#promiseBox a {
  display: block;
  width: 30%;
  margin: 0 auto;
}

/*------------- Requests Index and Show Pages -------------- */

#needsBox {
  border-radius:1em;
  margin-top: 200px;
  width: 40%;
  height: 55%;
  background: rgba(0, 0, 0, 0.70);
  margin: 110px auto 0 auto;
  padding:4em;
  box-sizing:border-box;
  text-align:center;
  line-height:1.5;
}

.sorting_category {
  border: 1px solid white;
  border-radius: 5px;
  width: 40%;
  margin: 5px auto;
}

.request {
  width: 80%;
}

/*------------- Requests New and Organizations New Pages -------------- */

.fillBox{
  border-radius:1em;
  margin-top: 200px;
  width: 65%;
  height: 90%;
  background: rgba(0, 0, 0, 0.70);
  margin: 200px auto 0 auto;
  padding:0.5em;
  box-sizing:border-box;
  text-align:center;
  line-height:1.5;
  text-transform:uppercase;
}

/*------------- Donor Index and New Pages -------------- */

/* New Donor Form - Has inline styling! TODO move to this page!!! */

.box{
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.70);
  /*
  margin: 5% auto 0 auto;
  text-align:left;
  line-height:1.5;*/
  height: 55%;
  padding: 2em;
}

/*------------- Donors New and Organizations New Forms -------------- */

header.fulfilled{
  font-size: 2.5em;
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
  color:white;
}

ul.longSign {
  list-style: none;
}





/*------------- NOT SURE WHERE THESE BELONG -------------- */


a .asc {
  background-image: url(/images/up21.png);
}

a .desc {
  background-image: url(/images/up21.png);
}

header.contHead{
  font-size: 2.5em;
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
 }

.contactInput{
  background-color: #ffffff;
  margin: 0em 1em 0em 1em;
  float: right;
  align: center;
}

.saveButton {
  -webkit-box-shadow: 0px 0px 0px 0px #276873;
  box-shadow: 0px 0px 0px 0px #276873;
  background-color:#599bb3;
  -moz-border-radius:13px;
  -webkit-border-radius:13px;
  border-radius:13px;
  border:1px solid #29668f;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family: Tahoma;
  font-size:1.4rem;
  padding:11px 21px;
  text-decoration:none;
}
.saveButton:hover {
  background-color:#408c99;
}

.saveButton:active {
  position:relative;
  top:1px;
}

#buttonDiv{
  position: relative;
  float: right;
}

.textbox {
    height:25px;
    width: 300px;
  border: solid 1px #9e9e9e;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #FFFFFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }

.textbox :focus {
  border-color: #797979;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
  }

#titleLine{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 5px;
  color: #000000;
  background-color: #000000;
}

.form_label {
  width: 4em;
  text-align: left;
  margin-right: 0.5em;
  display: block;
}

#menu {
  position:relative;
  z-index:0;
  font-family: 'Tahoma';
}

.parent-menu {
  background-color: #536985;
  min-width:200px;
  float:left;
}

#menu ul{
  list-style-type:none;
}

#menu ul li a {
  padding:10px 15px;
  display:block;
  text-decoration:none;
}

#menu ul li a:hover{
  background-color:#97b7d8;
}

#menu ul li:hover > ul {
  left: 200px;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}



#menu ul li > ul {
  position: absolute;
  background-color: #333;
  top: 0;
  left: -200px;
  min-width: 200px;
  z-index: -1;
  height: 100%;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}


#menu ul li > ul li a:hover{
  background-color:#2e2e2e;
}