/* ------ Landing Page Styling -------------- */

html {
  background: url(/assets/helping_hands_bckground_img.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hiddenDesktop{
  display: none;
}

/*-----------mobile nav ---------------*/
.menu-icon {
  width: 2em;
  height: 2em;
  cursor: pointer;
  border: none;
  margin-top: 0.2em;
}

.dropDiv{
  display: none;
  right: 0;
  position: relative;
  margin-left: -4em;
}

.dropNav ul ul{
  position: absolute;
}

.dropNav {
  width: 3em;
  float: right;
}

.dropNav ul li{
  width: 10em;
  height: 1.5em;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
.dropNav ul li a{
  margin: 0.2em 0.2em 0.2em 0.5em;
}

.homeLinks{
  width: 40%;
  float: left;
}

.footDiv{
  width: 12em;
  float: right;
  margin: 0.6em 0 0.5em 0;
}
.bottomLinks {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background: #000;
  padding: 0 1%;
}

.introBox{
  padding: 2.5em 1.5em 2em 1.5em;
  width: 100%;
  height: 9%;
  background-color: rgba(0,0,0, 0.5);
}

.landBox{
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.70);
  padding: 2.5em 1.5em 2.5em 1.5em;
  margin: 10% auto 0 auto;
  width: 50em;
  text-align: center;
}

.introBox.log{
  float: right;
  width: 10%;
  margin-bottom: 2rem;
}

.overflowBox{
  height: 100%;
  width: 80%;
  margin: 5% auto 5% auto;
}

.placeholderBox{
  width:100%;
  height: 5em;
  background: rgba( 0,0,0,0);
  clear: both;
}

.fill_label, .fillReqLabel{
  width: 40%;
  float: left;
  height: 80%;
  text-align: right;
}

.fill_p{
  width: 55%;
  float: right;
  height: 80%;
  margin-bottom: 1em;
}

.fill_p p{
  margin: 0;
}

.profileImg{
  margin: 0 auto 1em auto;
  width: 15em;
  height: 12em;
  overflow: hidden;
  float: none;
  display: block;
}

.profileImg-container {
  text-align: center; /* ensures the image is always in the h-middle */
  overflow: hidden; /* hide the cropped portion */
}

div.log{
  float: right;
  margin-bottom: 2rem;
  margin: 0 2rem 2rem 0;
}

/*------------- footer links -------------- */
.aboutImg{
  width: 20em;
  height: auto;
}

.aboutImg img{
  width: 100%;
  height: auto;
  float:left;
}

.descDiv{
  margin-top: 20%;
  width: 50%;
  float: right;
}

/*------------- general -------------- */
header.fulfilled{
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
}

.smallHeader{
  font-size: 1.5em;
  text-align: center;
}

.adjustBox, .contentBox{
  margin: 0;
  height: auto;
}

/*------------- Requests Index and Show Pages -------------- */

.sorting_category {
  list-style: none;
}
.sorting_category li {
  display: inline;
  text-decoration: underline;
}

.request {
}


/*------------- Requests New and Organizations New Pages -------------- */

.logoDiv{
  float: left;
  width: 20em;
  margin-bottom: 2rem;
}

.logoBig{
  float: none;
  margin-bottom: 2rem;
}

.logoBig img{
  height: 15em;
}

.logo{
  width: 70%;
  height: 70%;
}

.request {
  width: 80%;
}

.reqAcctBox{
  float: right;
  width: 50%;
  height: 100%;
}
.reqInner{
  height: 15em;
  overflow-y: scroll;
}

.orgBox, .donBox{
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.70);
  padding: 2.5em 1.5em 2.5em 1.5em;
  margin: 2% auto 2% auto;
  float: left;
  width: 40%;
}

.reqAcctBox_box, .reqAcctBox_box2{
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.70);
  padding: 2.5em 1.5em 2.5em 1.5em;
  margin: 2% auto 2% auto;
  width: 100%;
}

header.reqHead{
  padding-left: 5%;
  font-size: 2.5em;
  font-weight: bold;
}

.reqInput{
  width: 55%;
  float: right;
}

.reqInput p{
  margin: .5em 0 .5em 0;
}

.reqLabel{
  width: 40%;
  float: left;
  text-align: right;
  margin: 0.7em 0 0.65em 0.5em;
}

/*------------- Donation form -------------- */
div.donatePhoto{
  margin: 2em;
  height: 10em;
}

.donate_img{
  margin-left: auto;
  margin-right: auto;
  width: 12em;
  float: left;
  height: 100%;
}

.picButton{
  float: right;
  padding-right: 2%;
  padding-left: 2%;
}

.fillIn{
  width: 45%;
  float: right;
  height: 80%;
  margin-bottom: 1em;
}
.donFormBox{
  height: auto;
  width: 45%;
  float: right;
}
.progBar{
  margin-bottom: 0.7em;
}

#contentBox{
  width: 70em;
  margin: 3% auto 5% auto;
}

#tax-form-checkbox {
  margin-top: 1.5em;
  margin-right: 0.5em;
  float: left;
}

#tax-form-label {
  width: 75%;
  display: inline-block;
  float: none;
}

/*------------- Donor Index and New Pages -------------- */

.box, .loginBox, .searchBox, .userBox, .showReqBox, .donFormBox, .descBox, .socialBox {
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.70);
  padding: 2.5em 1.5em 2.5em 1.5em;
  margin: 2% auto 2% auto;
}
.descBox{
  padding: 2.5em 5% 2.5em 5%;
}

.box, .loginBox, .searchBox, .userBox, .descBox, .socialBox{width: 50em;}

.loginBox, .userBox{
  padding:1em;
  text-align:center;
  line-height:1.5;
}

.userBox{
  margin: 15% auto 0 auto;
  width: 45em;
}
.loginBox{
  margin: 5% auto 0 auto;
  width: 30em;
}

.showReqBox{
  float:left;
  width: 40%;
}

.logoUserDiv{
  float: none;
  margin-bottom: 2rem;
}

/*------------- Donors New and Organizations New Forms -------------- */

header.fulfilled{
  font-size: 2.5em;
  text-align: center;
  font-family: Tahoma;
  font-weight: bold;
  color:white;
  margin-bottom: 5%;
}
.longSign li {
  list-style: none;
  padding: 1%;
}


.account li label{
  text-align: left;
  font-size: 1em;
  font-color: #408c99;
}

ul li {
  color:white;
}

.tfbutton, .tfbutton_login, .tfbuttonWhich, .tfbuttonSearchPage, .tfbutton_cont, .fakeButton, .fakeButton2{
    margin: 0 auto;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.9em;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-radius: 0.45em;
}

.fakeButton{
  width: 8em;
}

.actualButton{
  display: none;
}

.tfbuttonWhich {
  width:10em;
  margin: 0 auto 0 auto;
}

.tfbutton_login {
  width:7em;
  margin: 0 auto 0 auto;
}

  .formButton{
    padding-top: 0.5em;
    width: 100%;
    clear: both;
  }

  .photoButton{
    width: 50%;
    margin: 20% 0 15% 0;
    float: right;
  }

  .proPhoto{
    float: left;
    width: 20%;
    margin-bottom: 2em;
  }

  .tftextinput{
    margin: 0;
    width: 20em;
    padding: 5px 15px;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  }

  .tfbutton_search {
    margin: 0 auto;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:0.9em;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border: solid 1px #0076a3; border-right:0px;
    background: #0095cd;
    background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
    background: -moz-linear-gradient(top,  #00adee,  #0078a5);
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }

  .tfbuttonSearchPage{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
  }

  .tfbutton:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }

   .tfbutton_search:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }

   .tfbutton_login:hover {
    text-decoration: none;
    background: #007ead;
    background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
    background: -moz-linear-gradient(top,  #0095cc,  #00678e);
  }

  /* Fixes submit button height problem in Firefox */
  .tfbutton::-moz-focus-inner {
    border: 0;
  }

.contactInput{
  background-color: #ffffff;
  margin: 0em 1em 0em 1em;
  float: right;
  align: center;
}

.topLinks{
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  background-color: #000;
  height: 3em;
}
.homeLinks{
    margin: 1em 0 1em 0;
  }

.longSign li label{
  display: inline;
}

label.form_label, label.form2_label {
  width: 80%;
  float:left;
  text-align: right;
  margin: 0.5em 0 0.5em 0;
}
label.form2_label{
  width: 100%;
}

.signUpPic{
  width: 20em;
  margin: auto;
  text-align: right;

}
div.input{
  float: right;
  width: 40%;
}

input.error, select.error, textarea.error {
  background: #FF8080;
}

label.error {
  float: left;
}

p.hint {
  font-size: 0.6em;
}

.form-field {
  width: 43%;
}

/*------------- SECURITY QUESTION FORM -------------- */

.form_field {
  text-align: center;
}



/*------------- SEARCH PAGE -------------- */
.searchPage{
  width: 70%;
  margin: 0 auto 2em auto;
}

.searchInput, .searchPageInput{
  width: 70%;
  border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
  border: solid 1px #9e9e9e;
  outline: 0;
  height: 1.5em;
  margin-top: 0.1em;
}

.sorting{
  text-align: center;
}

hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.request{
  width: 100%;
  margin: 2em auto 2em auto;
}

div.searchContent, div.contContent{
  height: 5em;
  margin: 0 2em 2em 0;
}

ul.searchResults{
  padding: 0;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index:2;
  top:0px;
  left:0px;
}

div.date{
  float: right;
  width: 30%;
}

div.photo img{
  float: left;
  width: 5em;
  height: 5em;
  overflow: hidden;
  margin: 0 0.5em 0 1em;
}

.reqPre{
  text-align: left;
  font-size: 0.5em;
  /*float:left;*/
  margin-top: 1em;
}
.reqPre p{
  margin-top: 0.2em;
}

div.searchOrgName, div.contName{
  float: left;
  font-size: 2em;
  width: 50%;
  margin-left: 0.8em
}
.contP{
    margin:0;
  }

/*------------- donation form page-------------- */
.reqAmtBox{
    margin-top: 8%;
  }

/*------------- WHERE DO THESE THINGS BELONG? -------------- */


header.contHead{
  font-size: 2.5em;
  text-align: center;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
 }

.contactInput{
  background-color: #fff;
  margin: 0em 1em 0em 1em;
  float: right;
  text-align: center;
}


#buttonDiv{
  position: relative;
  float: right;
}

.textbox {
  height:25px;
  width: 300px;
  border: solid 1px #9e9e9e;
  outline: 0;
  font: normal 13px/100% Verdana, Tahoma, sans-serif;
  background: #FFFFFF url('bg_form.png') left top repeat-x;
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
  background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
  }

.textbox :focus {
  border-color: #797979;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

#titleLine{
  margin-top: 10px;
  margin-bottom: 20px;
  height: 5px;
  color: #000000;
  background-color: #000000;
}

div .error {
  color: red;
  text-decoration: underline;
  margin: 0 auto;
}

p.error {
  color: red;
}

label.error {
  font-size: 0.8em;
}

div .signup {
  font-size: 2em;
  text-decoration: underline;
  color: #0095cc;
  width:40%;
  margin: 3% auto 0 auto;
}
.form_label {
  width: 4em;
  text-align: left;
  margin-right: 0.5em;
  display: block;
}

.login_label {
  color:white;
  font-size: 1.2em;
  margin:0 1em 0 0;
  width: 40%;
  text-align: right;
  float: left;
}

input#email, input#password{
  width: 50%;
}

/*------------- account display requests -------------- */

#menu {
  position:relative;
  font-family: Tahoma;
}

.parent-menu {
  /*background-color: #536985;*/
  width: 95%;
  padding: 0;
  float:left;
}

.parent-menu li div p{
  margin: 0.1em 1em 0.1em 0.1em;
  font-size: 0.8em;
}

.acc_reqMainContent{
  float: left;
  margin: 1em 1em 1em 1em;
}

.acc_reqDate{
  float: right;
  margin: 1em 1em 1em 1em;
}

.parent-menu li div a{
  font-size: 1.5em;
}

.menu ul{
  list-style-type:none;
}

.menu ul li a {
  display:block;
  text-decoration:none;
}

.menu ul li:hover{
  background-color:#97b7d8;
}

.menu ul li{
  background: -webkit-linear-gradient(#405461, #232E36); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#405461, #232E36); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#405461, #232E36); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#405461, #232E36);
 }

.menu ul li:hover > ul {
  left: 200px;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}

.menu ul li > ul {
  position: absolute;
  background-color: #333;
  top: 0;
  left: -200px;
  min-width: 200px;
  z-index: -1;
  height: 100%;
  -webkit-transition: left 200ms ease-in;
  -moz-transition: left 200ms ease-in;
  -ms-transition: left 200ms ease-in;
  transition: left 200ms ease-in;
}

.menu ul li > ul li a:hover{
  background-color:#2e2e2e;
}

/************** static pages ******************/
.faqWords_s, .social_s{
  width: 10em;
  float: left;
  margin: 0 1em 0 1em;
}
.faqWords, .social{
  width: 10em;
}
.socialDiv{
  width: 25em;
  margin: auto;
}
#img_prev, #img_prev_s{
    height: 170px;
  }

/*****************media queries ******************/
/*tablet landscape and small laptop screens*/
@media (max-width: 1310px){
  .reqAmtBox{
    margin-top: 8em;
  }
  .picButton, .donate_img, .fillIn {
    float: none;
  }
  .aRequest {
    text-align: center;
  }

  #tax-form-checkbox {
    margin-top: 0.5em;
    margin-right: 0.5em;
    float: none  ;
  }

  #tax-form-label {
    width: 75%;
    display: inline-block;
    float: none;
  }
}

/*ipad portrait*/
@media (max-width: 808px){
  html, body {
    width:100%;
    height: 100%;
  }
  .logoBig img{
    width: 30em;
    height: auto;
  }

  .reqAcctBox{
  float: none;
  margin: 2% auto 2% auto;
  width: 80%;
  }

  .box{
    width: 80%;
  }
  .landBox, .userBox{
    margin: 30% auto 0 auto;
    width: 30em;
    height: auto;
  }

  .donFormBox{
    width: 80%;
    float: none;
  }
  .showReqBox{
    float: none;
    width: 80%;
  }
  .descBox{
    width: 80%;
  }
  .desRequest{
    width: 50%;
  }

  label.form_label{
    width: 100%;
  }
  div.input{
    width: 50%;
  }
  .reqAmtBox{
    margin-top: 12%;
  }
  .donate_img{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    float: left;
    height: 100%;
  }
  .picButton{
    float: right;
    padding-right: 2%;
    padding-left: 2%;
  }
  div.donatePhoto{
    margin: 5%;
  }
  .reqInput p input{
    width: 80%;
  }

  p a.tfbutton{
    font-size: 0.9em;
    padding: 1px 3px;
  }
  div.date{
    width:76.5%;
  }
  div.searchOrgName, div.contName{
    width:67%;
  }
  .orgBox, .donBox{
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.70);
  padding: 2.5em 1.5em 2.5em 1.5em;
  margin: 2% auto 2% auto;
  float: none;
  width: 80%;
  }

  .searchBox{
    width: 80%;
    margin: 2% auto 0 auto;
  }
  .fillIn{
    width: 45%;
    float: right;
    height: 80%;
    margin-bottom: 1em;
  }

  #tax-form-checkbox {
    margin-top: 1.5em;
    margin-right: 0.5em;
    float: left;
  }

  #tax-form-label {
    width: 75%;
    display: inline-block;
    float: left;
  }
}

/*mobile landscape*/
@media (max-width: 500px){
  html{
    width: 100%;
  }

  body{
    width:320px;
    font-size: small;
  }

  .hiddenDesktop{
    display: inline;
  }

  .footDiv{
    display: none;
    visibility: hidden;
  }

  .overflowBox{
      width: 100%;
  }

  .landBox, .userBox{
    margin: 13% auto 0 auto;
    width: 27em;
    height: 14em;
    padding: 0.2em;
  }
  .loginBox{
    width: 80%;
    margin: 15% auto 0 auto;
    padding:0.5em;
  }
  .socialBox{
    width: 80%;
    margin: 20% auto 0 auto;
  }

  .logoUserDiv{
    float: none;
    margin-bottom: 0.2em;
  }
  .orgBox{
    float: none;
    width: 80%;
    margin: 15% auto 0 auto;
  }
  .descBox{
    margin: 20% auto 0 auto;
  }
  .descDiv{
    width: 100%;
    margin-top: 15%;
    font-size: 1.2em;
  }

  input#email, input#password{
    width: 65%;
  }
  .login_label{
    float: none;
  }
  p{
    margin: 0.2em;
  }

  header.fulfilled{
    font-size: 1.8em;
  }

  label.form_label{
    float: none;
  }
  .form-field{
    width: 100%;
  }
  div.input{
    width: 100%;
    float: none;
  }
  .login_label{
    float: none;
  }
  .longSign li input{
    width: 100%;
  }
  .desRequest{
    width: 100%;
  }

  .searchBox{
    margin: 28% auto 0 auto;
  }
  .searchPage{
    width: 100%;
  }
  .searchPageInput{
    width: 65%;
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
  }
  .tfbuttonSearchPage{
    width: 5em;
    padding: 4px 10px 4px 10px;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
  }
  div.searchOrgName{
    font-size: 1em;
    width: 67%;
  }
  div.searchContent, div.contContent{
    width: 100%;
  }
  div.date{
    width: 67%;
    font-size: 0.8em;
  }
  div.date p{
    margin: 0;
  }
  .searchOrgName p{
    margin: 0;
  }
  .reqPre{
    float: none;
  }
  .reqPre p{
    margin: 0;
    font-size: 1.5em;
  }
  .reqPre a{
    margin: 0;
    font-size: 1.5em;
  }
  p a.tfbutton{
    font-size: 1.1em;
    padding: 1px 3px;
  }
  .topLinks{
    width: 100%;
    height: 3em;
    font-size: 1.2em;
  }
  .homeLinks{
    margin: 0.7em 0 0.7em 0;
  }

  .tftextinput{
    width: 70%;
    border-radius: 5px;
    display: block;
    margin: 0 auto 0.2em auto;
  }

  .donBox{
    width: 100%;
    margin: 27% auto 8% auto;
  }

  .reqBox_box, .reqAcctBox_box2{
    margin: 7% auto 7% auto;
  }

  .showReqBox{
    margin: 15% auto 5% auto;
  }
  .reqAmtBox{
    margin-top: 60%;
  }
  .fillIn{
    float: none;
  }
  .fillReqLabel{
    float: none;
  }
  .tfbutton_search{
    border-radius: 5px;
    width: auto;
  }

  .logoBig img{
    width: 15em;
  }

  .logoBig{
    margin: 0.1em;
  }

  .box{
    width: 80%;
    float: none;
    height: auto;
    margin: 12% auto 0 auto;
  }
  .box a{
    width: 90%;
    font-size: large;
  }
  .box p{
    width: 90%;
    font-size: 1em;
  }

  .reqAcctBox{
    float: none;
    width: 85%;
  }

  .logoBig{
    width: 100%;
  }
  .logoBig img{
    width: 15em;
    height: auto;
  }

  .introBox{
    display: none;
  }

  .bottomLinks{
    display: none;
  }
  .button_to{
    font-size: large;
  }

  .picButton{
    float: none;
    clear: both;
  }
  .fakeButton2{
    height: 1.5em;
    width: 9em;
  }
  .donate_img{
    height: auto;
  }

  #img_prev_s{
    height: 90px;
  }
  .social_s{
    width: 8em;
  }
  .social{
    font-size: 1.2em;
    width: 7em;
  }
  .faqWords_s{
    margin: 0 5% 0 19%;
  }
  .faqWords{
    font-size: 1.2em;

  }
}

/* mobile portrait */
@media (max-width: 350px){
  .landBox{
    margin: 30% auto 0 auto;
    width: 17em;
    height: auto;
    padding: 0.4em 0.2em 0.4em 0.2em;
  }
  .userBox{
    width: 80%;
    height: auto;
  }

  p{
    margin: 1em auto 1em auto;
  }

  .tfbutton_search, .tfbutton{
    margin: 0.5em 0.2em 0.5em 0.2em;
  }

  .logoBig{
    margin-bottom: 1em;
  }
}
