
/* General styling throughout the application */

html, body {
  width:100%;
  height:100%
}

body {
  margin: 0px;
  padding: 0;
  /*height: 60em;*/
  overflow-y: scroll;
  font-family: 'Tahoma', sans-serif;
  color: white;
}

ul li {
  list-style: none;
  color: white;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li hr{
  width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Tahoma', sans-serif;
  margin-right: 0.7em;
}

a:hover {
  color: #a2c6e8;
}

img {
  height: 170px;
}

p {
  font-family: 'Tahoma', sans-serif;
  /*font-size: 1rem;*/
  color: #ffffff;
}

.centered_text {
  text-align: center;
}


