 /*----- iPhone 4, 4s, 5 and 5s ------ */

@media (max-width: 480px){
  html, body{
    width:320px;
    font-size: large;
  }
  .box{
    width: 100%;
    float: none;
    height: 90%;
    margin: 12% 12%;
  }
  .box a{
    width: 90%;
    font-size: large;
  }
  .box p{
    width: 90%;
    font-size: large;
  }

.reqAcctBox{
  float: none;
  width: 100%;
}

  .logoBig{
    width: 100%;
  }
  .tfbutton {
    width: 100%;
    margin: 5px 0;
  }
  .tfbutton_search {
    width: 100%;
    margin-top: 5px;
    font-size: large;
  }
  input {
    width: 100%;
  }
  .topLinks{
    display: none;
  }
  .bottomLinks{
    display: none;
  }
  .button_to{
    font-size: large;
  }
}

/* ----- iPad (portrait and landscape) ------ */

@media (max-width: 1024px){
  html, body {
    width:1024px;
  }
  .logoBig img{
    width:100px;
    border: 10px solid red;
  }
}

@media (max-width: 768px){
  html, body {
    width:768px;
  }
  .logoBig img{
    width: 100px;
    border: 10px solid pink;
  }
}

/* ----- Samsung Galaxy S4 ------ */

/*@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    html, body { height: 640px; width:320px;}
  }*/

/* ----- Asus Nexus 7 ------ */

/*@media screen and (device-width: 601px) and (device-height: 906px){
    html, body { height: 906px; width:601px;}
  }*/

/* ----- HTC One ------ */

/*@media screen and (device-width: 360px) and (device-height: 640px){
    html, body { height: 640px; width:360px;}
  }