* { font-family: 'Comic sans' !important; }

/* ----- iPhone 5 ------ */

@media(max-width: 320px){
  html {
    background-color: red;
    font-size: 3em !important;
    color: green !important;
  }
  a {
    color: blue;
  }
  p {
    color: yellow;
  }
  #promiseBox {
    height: 90%;
    width: 90%;
  }
  #promiseBox a {
    width: 100%;
  }
  .tfbutton {
    width: 100%;
  }
  input {
    width: 100%;
  }
  .bottomLinks {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    background: #000;
  }
  #needsBox {
    width: 100%;
    text-align: center;
  }
  .fillBox{
    width: 100%;
  }
  .box {
    width: 100%
  }
}

/* ----- iPhone 4 and 4s ------ */

/*@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    html, body {height: 480px; width: 320px;}
  };*/

/* ----- iPad (portrait and landscape) ------ */

@media(max-width: 1024px){
    html, body {
      height:768px;
      width:1024px;
    }
    .logoBig {
      height: 100px;
      border: 10px solid red;
    }
  }

@media (max-width : 768px){
    html, body {
      height: 1024px;
      width:768px;
    }
    .logoBig {
      height: 100px;
      border: 10px solid pink;
    }
  }

/* ----- Samsung Galaxy S4 ------ */

/*@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    html, body { height: 640px; width:320px;}
  }*/

/* ----- Asus Nexus 7 ------ */

/*@media screen and (device-width: 601px) and (device-height: 906px){
    html, body { height: 906px; width:601px;}
  }*/

/* ----- HTC One ------ */

/*@media screen and (device-width: 360px) and (device-height: 640px){
    html, body { height: 640px; width:360px;}
  }*/