<div class="contentBox" style="margin: 3% auto 5% auto; width: 90em">

    <!-- form box -->
    <div class="box" >
      <%= render "form" %>
    </div>
    <div class="placeholderBox">
    </div>

</div>
