<script>

  $("#new_organization").validate({
    rules: {
      "organization[name]": {required: true},
      "organization[description]": {required: true},
      "organization[address]": {required: true},
      "organization[city]": {required: true},
      "organization[operation_days][]": {required: true},
      "organization[opening_time(4i)]": {required: true},
      "organization[opening_time(5i)]": {required: true},
      "organization[closing_time(4i)]": {required: true},
      "organization[closing_time(5i)]": {required: true},
      "organization[phone_number]": {required: true},
      "organization[email]": {required: true},
      "organization[website_url]": {required: true},
      "organization[password]": {required: true, minlength: 8},
      "organization[password_confirmation]": {required: true, equalTo: "#organization_password"}
    },
    groups: {
      openingTime: "organization[opening_time(4i)] organization[opening_time(5i)]",
      closingTime: "organization[closing_time(4i)] organization[closing_time(5i)]"
    },
    messages: {
      "organization[name]": {required: "Name is required."},
      "organization[description]": {required: "Description is required."},
      "organization[address]": {required: "Address is required"},
      "organization[city]": {required: "City is required."},
      "organization[operation_days][]": {required: "Days of operation is required."},
      "organization[opening_time(4i)]": {required: "Opening time is required."},
      "organization[opening_time(5i)]": {required: "Opening time is required."},
      "organization[closing_time(4i)]": {required: "Closing time is required."},
      "organization[closing_time(5i)]": {required: "Closing time is required."},
      "organization[phone_number]": {required: "Phone number is required."},
      "organization[email]": {required: "Email is required."},
      "organization[website_url]": {required: "Website is required."},
      "organization[password]": {required: "Please input a password.",
                                 minlength: "Password must have at least 8 characters"},
      "organization[password_confirmation]": {required: "Please confirm your password.",
                                              equalTo: "Password confirmation does not match password."}
    }
  });
});

</script>

<div style="height: 120%">
  <div class="box">
  <header class="fulfilled">Make an Organization Account</header>

    <% if flash[:notice] %>
      <div ><%= flash[:notice] %></div>
    <% end %>

    <%= render "form" %>
  </div>

  <div class="placeholderBox">
  </div>
</div>
