<div class="introBox">
      <div style="float: left; width: 20%; margin-bottom: 2rem">
      <img style="width: 70%;" src="helpLogo.png">
      </div>

      <div class="log" style="float: right; margin: 0 2rem 2rem 0">
      <a href="contAccount.html" id="orgName">Salvation Army</a>
      <a action="logOut">Log Out</a>
      </div>
  </div>

  <div class="overflowBox" style="margin: 5% auto 5% auto; width: 80%;">
    <div class="box" style="float: left; width: 40%;">
      <header class="reqHead" style="margin: 2% auto 5% auto; text-align: center;">Salvation Army</header>
      <div class="profileImg">
      <img src="images/salvationArmy.jpg" height="100%">
      </div>

      <ul class="account">
        <li>
          <div style="width: 35%; float: left; height: 80%;">
            <label for="name">Description:</label>
          </div>

          <div style="width: 65%; float: right; height: 80%;">
          <p class="orgDes">The Salvation Army, an international movement, is an evangelical part of the universal Christian church. Its message is based on the Bible. Its ministry is motivated by the love of God. Its mission is to preach the gospel of Jesus Christ and to meet human needs in His name without discrimination.</p>
          </div>

        </li>

        <li><hr></li>

        <li>
          <div style="width: 35%; float: left; height: 80%;">
            <label for="name">Location:</label>
          </div>

          <div style="width: 65%; float: right; height: 80%;">
          <p class="orgDes">We have many locations through the United States.</p>
          </div>
        </li>

        <li><hr></li>

        <li>
          <div style="width: 35%; float: left; height: 80%;">
            <label for="name">Phone Number:</label>
          </div>

          <div style="width: 65%; float: right; height: 80%;">
          <p class="orgDes">415-222-8323</p>
          </div>
        </li>

        <li><hr></li>

        <li>
          <div style="width: 35%; float: left; height: 80%;">
            <label for="name">E-mail:</label>
          </div>

          <div style="width: 65%; float: right; height: 80%;">
          <p class="orgDes">something@something.org</p>
          </div>
        </li>

        <li><hr></li>

        <li>
          <div style="width: 35%; float: left; height: 80%;">
            <label for="name">Website:</label>
          </div>

          <div style="width: 65%; float: right; height: 80%;">
          <p class="orgDes">www.salvationarmy.org</p>
          </div>
        </li>

        <li><hr></li>

      </ul>

      <button class="tfbutton" onclick="window.location.href='orgAccountEdit.html'" href="orgAccountEdit.html">Edit Profile</button>

    </div>

    <div class="reqAcctBox">
      <div class="box" style="height: 15em; margin-bottom: 3%;">
        <div>
          <button class="tfbutton" onclick="window.location.href='orgAccount.html'" href="postings.html">Make New Request</button>
        </div>

        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Active Requests</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav id="menu">
            <ul class="parent-menu">
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">6/20/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">6/16/14</div>
              </a>
            </li>
            </ul>
          </nav>
        </div>

      </div>
      <div id="box" style=" height: 20em; ">
        <header class="reqHead" style="margin: 2% auto 2% auto; text-align: center;">Request History</header>

        <div style="height: 85%; overflow-y: scroll">
          <nav id="menu">
            <ul class="parent-menu">
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">6/13/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">5/10/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">5/1/14</div>
              </a>
            </li>
            <li>
              <a href="#">
                <div style="float: left;">Request Name</div>
                <div style="float: right;">4/1/14</div>
              </a>
            </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

  </div>
