<footer>
  <nav class="bottomLinks">
      <%= link_to "About Us", about_static_pages_path, :method => :get %>
      <%= link_to "Contact Us", contactTemp_static_pages_path, :method => :get %>
      <%= link_to "Social", social_static_pages_path, :method => :get %>
      <a href="#">Community</a>
      <div class="footDiv">&copy Helpful Hand, 2014</div>
  </nav>
</footer>