<div class="introBox">
  <!--how to make this not show up on the index sheet? assuming user is logged in-->
  <div class="logoDiv">
    <img class="logo" src="/assets/helping_hands_logo.png">
   </div>

    </div>
  </div>