<!DOCTYPE html>
<html>
<head>
  <title>PolarBear</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js'></script>
</head>
<body>

<%= yield %>

</body>
</html>
