
<div class="topLinks">
      <a href="profile.html">HOME</a>
      <a href="profile.html">ACCOUNT</a>
      <a href="new1.html">MESSAGES</a>
  </div>

  <div id="promiseBox">
      <img src="http://i.minus.com/jbbUCKWnG1pFdf.png">
      <a href="newPromises.html">Add New Promise</a>
      <p> </p>
      <a href="currentPromises.html">Current Promises</a>
  </div>
<footer>
  <nav class="bottomLinks">
      <a href="index.html">About Us</a>
      <a href="profile.html">Community</a>
      <a href="new1.html">Education</a>
      <a >(c) HelpingHands, 2014</a>
  </nav>
</footer>